<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a [routerLink]="['/home']">Home</a>
	</li>
	<li class="breadcrumb-item active">Login</li>
</ol>
  <!-- main -->
  <main class="W3Layouts-header-index pt-1">
    <section class="login-page pt-5 pb-4">
        <!-- login -->
        <div class="signupform" fxLayout="row" fxLayoutAlign="center">
            <div class="w3l_info">
                <div class="w3llogin_info">
                    <h1 class="pb-5">Ingresa a tu cuenta</h1>
                    <form name="loginForm" [formGroup]="loginForm">
                      <div fxLayout="row" fxLayoutAlign="center">
                        <mat-form-field appearance="outline"  fxFlex="100%" >
                            <mat-label>Correo electrónico</mat-label>
                            <input matInput formControlName="email" required>
                            <mat-error *ngIf="loginForm?.get('email')?.hasError('required')">Correo electrónico es obligatorio</mat-error>
                            <mat-error *ngIf="loginForm?.get('email')?.hasError('email')">El correo electrónico ingresado no es valido</mat-error>
                        </mat-form-field>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="center">
                        <mat-form-field appearance="outline"  fxFlex="100%" >
                            <mat-label>Contraseña</mat-label>
                            <input matInput type="password" formControlName="password" required>
                            <mat-error *ngIf="loginForm?.get('password')?.hasError('required')">Contraseña es obligatoria</mat-error>
                            <mat-error *ngIf="loginForm?.get('password')?.hasError('minlength')">Debe tener 6 caracteres como minimo</mat-error>
                        </mat-form-field>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="center">
                        <button class="w3l-btn-login btn-block" (click)="login()" [disabled]="loginForm.invalid">Iniciar Sesión</button>
                      </div>
                    </form>
                    <p class="w3l-account1">¿No tienes una cuenta? <a (click)="goTo('register')">Registrate</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- //login -->
</main>
<!-- //main -->