<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a [routerLink]="['/home']">Home</a>
	</li>
	<li class="breadcrumb-item active">Contacto</li>
</ol>

<section class="ab-info-main pb-md-5 pb-4 pt-md-3 pt-2">
    <div class="container pb-md-5 pb-4 pt-md-3 pt-2">
        <h3 class="tittle text-center mb-lg-5 mb-3"><span class="sub-tittle">Encuéntranos</span>Contactenos</h3>
        <div class="row contact-main-info mt-5">
            <div class="col-md-7 contact-right">
                <form #f="ngForm"  name="contactForm" [formGroup]="contactForm" (submit)="sendForm(contactForm.value, f)">
                  <div fxLayout="row" fxLayoutAlign="center">
                    <mat-form-field appearance="outline"  fxFlex="100%" >
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="name" required>
                        <mat-error *ngIf="contactForm.get('name')?.hasError('required')">El nombre es obligatorio</mat-error>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="center">
                    <mat-form-field appearance="outline"  fxFlex="100%" >
                        <mat-label>Correo electrónico</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-error *ngIf="contactForm.get('email')?.hasError('required')">El correo electrónico es obligatorio</mat-error>
                        <mat-error *ngIf="contactForm.get('email')?.hasError('email')">El correo electrónico ingresado no es valido</mat-error>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="center">
                    <mat-form-field appearance="outline"  fxFlex="100%" >
                        <mat-label>Teléfono</mat-label>
                        <input matInput formControlName="phone" required>
                        <mat-error *ngIf="contactForm.get('phone')?.hasError('required')">El teléfono es obligatorio</mat-error>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="center">
                    <mat-form-field appearance="outline"  fxFlex="100%" >
                        <mat-label>Asunto</mat-label>
                        <input matInput formControlName="affair" required>
                        <mat-error *ngIf="contactForm.get('affair')?.hasError('required')">El Asunto es obligatorio</mat-error>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="center">
                    <mat-form-field appearance="outline"  fxFlex="100%" >
                        <mat-label>Mensaje</mat-label>
                        <textarea matInput formControlName="message" required></textarea>
                        <mat-error *ngIf="contactForm.get('message')?.hasError('required')">El Mensaje es obligatorio</mat-error>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="end center">
                    <div class="read mt-3">
                      <button type="submit" class="btn-style2" [disabled]="contactForm.invalid">Enviar</button>
                    </div>
                  </div>
                </form>
            </div>
            <div class="col-md-5 contact-left">
                <div class="address">
                    <h5>Dirección:</h5>
                    <p><span class="fa fa-home"><fa-icon [icon]="faHome"></fa-icon></span> Mendoza, Argentina
                </div>
                <div class="address address-mdl">
                    <h5>Teléfonos:</h5>
                    <p><span class="fa fa-phone"><fa-icon [icon]="faPhone"></fa-icon></span> +11 1111 1111</p>
                    <p><span class="fa fa-mobile"><fa-icon [icon]="faMobile"></fa-icon></span> +11 1111 1111</p>
                </div>
                <div class="address">
                    <h5>Correo electrónico:</h5>
                    <p><span class="fa fa-envelope"><fa-icon [icon]="faEnvelope"></fa-icon></span> <a href="mailto:info@coffeeandcream.com"> info@coffeeandcream.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
