<!-------------------------------------------------------- START CONTACT ------------------------------------------------------------------->
<section id="Contact">
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="contactTittle">Contacto</h1>
                <p class="contactSubTittle">¡Escribinos y con gusto te responderemos!</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
   <div class="row">
       <div class="col-12 col-md-8">
        <form class="formText" [formGroup]="contactForm" (ngSubmit)="sendForm(contactForm.value, confirmsend)">
            <div class="row mt-3">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" aria-required="true" aria-invalid="true" name="name" id="name" formControlName="contactName" required>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" aria-required="true" aria-invalid="true" name="email" id="email" formControlName="contactEmail" required>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="phone">Teléfono</label>
                        <input type="text" class="form-control" name="phone" id="phone" formControlName="contactPhone" required>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="affair">Asunto</label>
                        <input type="text" class="form-control" aria-required="true" aria-invalid="true" name="affair" id="affair" formControlName="contactAffair" required>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="form-group">
                        <label for="message">Mensaje</label>
						<textarea name="message" id="message" aria-required="true" aria-invalid="true" rows="7" class="form-control" formControlName="contactMessage" required></textarea>
                    </div>
                </div>

            </div>
            <button class="col-5 col-lg-4 col-xl-3 btn btn-dark btnSubmit btn-block mb-5" type="submit" [disabled]="contactForm.invalid">Enviar</button>
        </form>
       </div>
       <div class="col 12 col-md-4">
           <div class="row">
               <div class="col">
                   <h2 class="asideTittle">ATENCIÓN TELEFÓNICA</h2>
                   <h5 class="asideSubTittle">DE LUNES A SÁBADOS DE 10 A 18 HS</h5>
               </div>
           </div>
           <div class="row">
               <div class="col">
                   <h2 class="asideTittle2">Teléfono de contacto</h2>
                   <h5 class="asideSubTittle">+54 999-999-999</h5>
               </div>
           </div>
       </div>
   </div>
</div>
</section>

<ng-template #confirmsend let-modal>
  <div class="modal-header">
    <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modale-body">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center colIcon">
          <fa-icon class="checkIcon" [icon]="faCheck" ></fa-icon>
        </div>
        <div class="col-12 text-center colTitle">
          <h1 class="checkTitle">Formulario enviado Correctamente</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="modal.close()">Cerrar</button>
  </div>
</ng-template>

