<div class="main-banner inner">
	<!-- header -->
	<app-menu></app-menu>
	<!-- //header -->
</div>
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a [routerLink]="['/home']">Home</a>
	</li>
	<li class="breadcrumb-item active">Productos</li>
</ol>
<!-------------------------------------------------------- START PRODUCTS ------------------------------------------------------------------->
<section id="Products" class="pb-md-5 pb-4 pt-md-3 pt-2">
	<div class="container pb-md-5 pb-4 pt-md-3 pt-2">
		<div class="row">
			<div class="col text-center">
				<h3 class="tittle text-center mb-lg-5 mb-3"><span class="sub-tittle">Nuestros</span>Productos</h3>
			</div>
		</div>
		<div class="row justify-content-start">
			<div class="col-4" *ngFor="let coffee of products | paginate: { itemsPerPage: 9, currentPage: (this.productosPaginador.pageNumber + 1), totalItems: this.productosPaginador.totalElements }">
				<div class="product-card" (click)="productDetail(coffee._id)">
					<div class="badge" *ngIf="coffee.isInOferta">
						<p class="badge-title">SALE</p>
					</div>
					<div class="product-tumb">
						<img [src]="coffee.img" alt="">
					</div>
					<div class="product-details">
						<h3 style="letter-spacing: 1px; ">{{coffee.nombre}}</h3>
						<div class="product-bottom-details">
							<div class="product-price"><small *ngIf="coffee.isInOferta">${{coffee.precioAnterior}}</small>${{coffee.precio}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-end">
			<div class="col-3" style="text-align: right;">
				<pagination-controls 
				(pageChange)="setPage($event)"
				responsive="true"
				previousLabel=""
				nextLabel=""
				></pagination-controls>
			</div>
		</div>
	</div>
</section>
