<div class="cartContainer">
  <div class="container">
    <div class="my-cart-title-row">
      <div style="padding-right: 3px;" matBadge="{{this.carrito.length}}" matBadgeHidden="{{this.carrito.length === 0}}"  matBadgePosition="after" >
        <fa-icon class="cart-icon" [icon]="faShoppingBag"></fa-icon>
      </div>
      <p class="my-cart-title">Mi Carrito</p>
      <fa-icon class="cross-icon" (click)="onCartClose.emit(true)" [icon]="faTimes"></fa-icon>
    </div>
    <ng-container *ngIf="this.carrito.length === 0">
      <div class="row errorCartRow">
        <div class="col">
          <h2 class="noItemsTxt">Parece que tu carrito está vacío.</h2>
          <h2 class="noItemsTxt">¡Empieza a añadir productos!</h2>
        </div>
      </div>
      <div class="go-products-row mt-5">
        <div>
          <button class="basic-cart-btn" (click)="onCartClose.emit(true)" [routerLink]="['/products']">Ver productos</button>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="this.carrito.length > 0">
    <div class="container">
      <h3 class="firstTittle">Resumen</h3>
      <mat-divider class="mat-divider"></mat-divider>
    </div>
    <div class="products-container">
      <div class="item" *ngFor="let item of carrito">
        <div class="first-item-row">
          <div class="img-item-row">
            <img class="item-image" src="{{item.producto.img}}" alt="">
            <span class="item-name">{{item.producto.nombre}}</span>
          </div>
          <fa-icon class="delete-icon" (click)="removerProductoCarrito(item.producto)" [icon]="faTrash"></fa-icon>
        </div>
        <div class="second-item-row">
          <div class="number-input">
            <button class="number-remove-btn" (click)="removerItemCarrito(item.producto)" >
              <fa-icon [icon]="faMinus"></fa-icon>
            </button>
            <div class="horizontal-divider"></div>
            <div class="input-value">
              <span>{{item.cantidad}}</span>
            </div>
            <div class="horizontal-divider"></div>
            <button class="number-add-btn plus" (click)="agregarItemCarrito(item.producto)" >
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
          </div>
          <span class="item-total">{{(item.producto.precio * item.cantidad) | currency}}</span>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="subtotal-row">
        <span class="subtotal-text">Subtotal</span>
        <span class="subtotal-text">{{subtotal() | currency}}</span>
      </div>
      <div class="total-row">
        <span class="total-text">Total</span>
        <span class="total-text">{{subtotal() | currency}}</span>
      </div>
      <section class="buttons-row">
        <div class="go-products-row mt-4">
          <button class="basic-cart-btn" (click)="goToCheckout()">Finalizar compra</button>
        </div>
        <div class="go-products-row mt-3">
          <button class="basic-cart-btn" (click)="vaciarCarrito()">Vaciar carrito</button>
        </div>
        <div class="go-products-row mt-3">
          <a class="basic-cart-link" (click)="onCartClose.emit(true)" [routerLink]="['/products']">Seguir Comprando</a>
        </div>
      </section>
    </div>
  </ng-container>
</div>
