/*-----------------------------------------------------------CART STYLES------------------------------------------------------------------------------------*/
.cartContainer{
  width: 500px;
}
.errorCartRow{
  margin-top: 50px;
}
.my-cart-title-row{
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}

.my-cart-title{
  color: #454546;
  font-weight: 600;
  font-size: 20px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.cart-icon, .cross-icon, .delete-icon{
  color: #454546;
  font-size: 22px;
}

.cross-icon, .delete-icon{
  cursor: pointer;
}

.cross-icon:hover{
  color: #FA9D33;
}

.delete-icon:hover{
  color: #db2929;
}

.first-item-row, .second-item-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.img-item-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.second-item-row{
  margin-top: 15px;
}

.item{
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #c1cdd4;
}

.item-total{
  font-size: 16px;
  font-weight: 700;
}

.item-image{
  width: 54px;
  object-fit: cover;
  margin-right: 15px;
}

.item-name{
  font-weight: 700;
}

.products-container{
  padding: 15px;
  height: calc(100vh - 420px);
  overflow: auto;
  margin-top: 15px;
}

.products-container::-webkit-scrollbar{
  width: 10px;
  background-color: #1b1d1d;
}

.products-container::-webkit-scrollbar-thumb{
  border-radius: 10px;
  border:2px solid #1b1d1d;
  background-color: #FA9D33;
}

.noItemsTxt{
  margin-top: 20px;
  font-weight: 400;
  text-align: center;
}

.go-products-row{
  display: flex;
  justify-content: center;
}

.basic-cart-link {
  color: #212529;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border: none;
  outline: none;
  text-decoration: underline;
  width: 100%;
  text-align: center;
}

.basic-cart-link:hover {
  color: #FA9D33;
  border: none;
  outline: none;
}

.basic-cart-btn {
  color: #fff;
  padding: 12px 40px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  transition: 0.3s ease-in;
  background: #212529;
  border: none;
  outline: none;
  border-radius: 6px;
  width: 100%;
}

.basic-cart-btn:hover {
  color: #fff;
  background: #FA9D33;
  border: none;
  outline: none;
}

.basic-cart-btn:active {
  background: #FA9D33;
  border: none;
  color: #fff;
  outline: none;
}

.circle{
  background: #424242;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  padding-top: 9px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
}
.firstTittle{
  font-weight: 700;
  font-size: 30px;
}
ul.mainListUl li {
  list-style: none;
}
.mainListUl{
  margin-bottom: 0px;
}
.rowMainCartList{
  margin-top: 40px;
}
.mainListText{
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 7px;
}
.mainListLi{
  border-bottom: 1px solid #c1cdd4;
}
.cantTxt{
  padding-left: 42px;
}
.trashIcon{
  padding-left: 18px;
  font-size: 20px;
  color: #363636;
}
.trashIcon:hover {
  color: #db2929;
}
.secondaryListText{
  font-size: 17px;
  padding-bottom: 7px;
  padding-top: 10px;
}
.secondaryListLi{
  border-bottom: 1px solid #c1cdd4;
}
.contenedorList{
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}
.contenedorList::-webkit-scrollbar{
  width: 5px;
}
.contenedorList::-webkit-scrollbar-thumb{
  background: rgb(75, 75, 75);
}
.nextSection{
  margin-top: 25px;
  margin-bottom: 10px;
}
.totalPrice{
  margin-top: 25px;
  font-size: 24px;
  font-weight: 600;
}
.arrowIconRigth{
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 3.5px;
  padding-left: 5px;
}
.arrowIconLeft{
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 3.5px;
  left: 104px;
}
.arrowIconLeft1{
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 3.5px;
  left: 60px;
}
.arrowIconLeft0{
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 3.5px;
  left: 205px;
}
.confirmIcon{
  background: #29d16f;
  color: #000000;
  font-size: 25px;
  padding: 10px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
}
.confirmTittle{
  margin-top: 50px;
  margin-bottom: 25px;
  font-weight: 600;
}
.confirmSubtittle{
  font-size: 20px;
  margin-bottom: 10px;
}
.mobilTxt{
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btnReponsive{
  margin-bottom: 15px;
}

.number-input {
  margin-right: 15px;
  border-radius: 6px;
  border: 1px solid #212529;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2rem;
  border: none;
  cursor: pointer;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.number-input .input-value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  padding: .5rem;
  border: none;
  font-size: 16px;
  height: 2rem;
  font-weight: bold;
  text-align: center;
}

.horizontal-divider{
  border-left: 1px solid #c1cdd4;
  margin: 5px 0;
}

.subtotal-row, .total-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.subtotal-row{
  margin-top: 20px;
}

.total-row{
  margin-top: 10px;
}

.subtotal-text{
  font-size: 16px;
  font-weight: 500;
}

.total-text{
  font-size: 18px;
  font-weight: 700;
}


/*--------------------------------------RESPONSIVE SETTINGS --------------------------------------*/
@media (max-width: 1200px){
  .arrowIconLeft0{
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 3.5px;
    left: 38%;
  }

}
@media (max-width: 992px){
  .arrowIconLeft1{
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 3.5px;
    left: 25%;
  }
}
@media (max-width: 768px){
  .arrowIconLeft0{
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 3.5px;
    left: 190px;
  }
  .secondaryListLi{
    margin-bottom: 40px;
    padding-bottom: 40px;
  }
  .arrowIconLeft1{
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 3.5px;
    left: 16%;
  }
  .arrowIconLeft{
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 3.5px;
    left: 35%;
  }
}
@media (max-width: 575px){
  .arrowIconLeft1{
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 3.5px;
    left: 35%;
  }
  .arrowIconLeft{
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 3.5px;
    left: 42%;
  }
}
@media (max-width: 544px){
  .arrowIconLeft0{
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 3.5px;
    left: 30%;
  }
  .cantTxt{
    padding-left: 0px;
  }
  .secondaryListLi{
    margin-bottom: 40px;
    padding-bottom: 40px;
  }
  .arrowIconLeft1{
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 3.5px;
    left: 29%;
  }
}
@media (max-width: 390px){
  .arrowIconLeft0{
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 3.5px;
    left: 25%;
  }
  .secondaryListLi{
    margin-bottom: 40px;
    padding-bottom: 40px;
  }

  .arrowIconLeft1{
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 3.5px;
    left: 24%;
  }
  .arrowIconLeft{
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 3.5px;
    left: 38%;
  }
}
