<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a [routerLink]="['/home']">Home</a>
	</li>
	<li class="breadcrumb-item active">Nosotros</li>
</ol>
<!-------------------------------------------------------- START ABOUT ------------------------------------------------------------------->
<section id="About" class="pt-md-3 pt-2">
	<div class="container pt-md-3 pt-2">
		<div class="row">
			<div class="col text-center">
				<h3 class="tittle text-center mb-lg-1 mb-1"><span class="sub-tittle">Sobre</span>Nosotros</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-10 text-center aboutText mx-auto">
				<p>Coffee&Cream es una empresa especializada en la obtención y preparación de los mejores cafés de Mendoza, Argentina.</p>
				<p>Fundada en 1990 como una pequeña empresa familiar ha logrado crecer y expandirse por toda la provincia, entregando felicidad a sus clientes bajo un concepto que reúne productos de la más alta calidad y los más ricos sabores con un ambiente cálido y moderno donde poder disfrutarlos.</p>
				<p>La empresa ha apostado por la innovación y la calidad, cuidando cada detalle desde el proceso de obtención de los granos hasta la elaboración de cafés, obteniendo así las mejores cualidades de sabor, aroma, color y cremosidad que satisfagan a nuestros clientes.</p>
			</div>
		</div>
	</div>
</section>		
<!-------------------------------------------------------- START MISSION AND VISION ------------------------------------------------------------------->
<section id="aboutMissionVision pt-md-3 pt-2">
<div class="aboutMissionVision">
	<div class="container pb-3">
		<div class="row my-5">
			<div class="col-6">
				<img class="misionImg img-fluid" src="../../../assets/img/mision.jpg" alt="">		
			</div>
			<div class="col-6">	
				<h3 class="tittle text-center" style="letter-spacing: 2.5px;">Misión</h3>
				<p class="mvText text-center">Participar en la vida cotidiana de las personas y, a través de una taza de café, hacer que las personas sean más felices y más unidas.</p>		
			</div>
		</div>
		<div class="row my-5 pt-5">
			<div class="col-6">	
				<h3 class="tittle text-center" style="letter-spacing: 2.5px;">Visión</h3>
				<p class="mvText text-center">Ser reconocidos por la calidad de nuestro café y chocolates, en un lugar donde se viven gratos momentos.</p>		
			</div>
			<div class="col-6">
				<img class="visionImg img-fluid" src="../../../assets/img/vision.jpg" alt="">		
			</div>
		</div>
	</div>
</div>
</section>

