/*-----------------------------------------------------------ABOUT STYLES------------------------------------------------------------------------------------*/
.aboutTittle{
    font-weight:700;
    font-size: 80px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline #ffffff;
    text-shadow: 2px 2px 2px black;
    margin-top: 250px;
    margin-bottom: 250px;
}
.aboutText{
    line-height: 1.425;
    font-weight: 400;
    font-size: 1.275rem;
    margin-top: 30px;
    margin-bottom: 50px;
}

h3.tittle {
    font-size: 2.5em;
    letter-spacing: 2px;
    color: #292a2b;
    text-transform: uppercase;
  }
  
  .sub-tittle {
    font-size: 0.5em;
    color: #FA9D33;
    letter-spacing: 2px;
    display: block;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  .events-info .sub-tittle {
    font-size: 0.7em;
  }

/*-----------------------------------------------------------MISSION AND VISION STYLES------------------------------------------------------------------------------------*/
.mvText{
    line-height: 1.725;
    font-weight: 400;
    font-size: 1.375rem;
    margin-top: 15px;
    padding: 0 5rem;
}
.visionImg{
    clip-path: polygon(10% 0,100% 0,100% 100%,0 100%);
    width: 85%;
    height: 100%;
}
.misionImg{
    clip-path: polygon(0 0,90% 0,100% 100%,0 100%);
    width: 85%;
    height: 100%;
}

/*--------------------------------------RESPONSIVE SETTINGS --------------------------------------*/
@media (max-width: 575px){
  .aboutTittle{
    font-weight:700;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline #ffffff;
    text-shadow: 2px 2px 2px black;
    margin-top: 250px;
    margin-bottom: 250px;
  }
}

  @media(min-width:1280px) {
    h3.tittle {
        font-size: 3.5em;
    }
  }
  
  @media(max-width:1280px) {
    h3.tittle {
        font-size: 3em;
    }
  
    .events-info {
        margin-top: 4em;
        padding-left: 2em;
    }
  }
  
  @media(max-width:1080px) {
    h3.tittle {
        font-size: 2.3em;
    }
  }
  
  @media(max-width:800px) {
    h3.tittle {
        font-size: 2.3em;
    }
  }
  
  @media(max-width:767px) {
    h3.tittle {
        font-size: 2em;
    }
  }
  
  @media(max-width:640px) {
    .sub-tittle {
        font-size: 0.6em;
    }
  }
  
  @media(max-width:600px) {
    h3.tittle {
        font-size: 1.8em;
    }
  }
  
  @media(max-width:568px) {
    h3.tittle {
        font-size: 1.6em;
    }
  }
  
  
  @media(max-width:384px) {
    h3.tittle {
        font-size: 1.6em;
    }
  }
  
  @media(max-width:320px) {
    h3.tittle {
        font-size: 1.4em;
    }
  }
  

