
/*-----------------------------------------------------------SLIDER STYLES---------------------------------------------------------------------------------------*/
.homeTittleSlider{
    font-family: 'Pacifico', cursive;
    font-weight:700;
    font-size: 80px;
    color: #ffffff;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 250px;
    text-shadow: 2px 2px 2px black;
}
/*-----------------------------------------------------------WELCOME STYLES---------------------------------------------------------------------------------------*/
#TodayCoffe{
    margin-bottom: 30px;
}
.welcome{
    /* background-color: #363636; */
    margin-top: 60px;
    margin-bottom: 40px;
}
.welcomeTittle{
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 30px;
    font-size: calc(1.325rem + .9vw);
}
.welcomeSubtittle{
    line-height: 1.625;
    font-weight: 400;
    font-size: 1.875rem;
}
.caps {
    letter-spacing: .1em;
    text-transform: uppercase;
}
/*-----------------------------------------------------------TODAY COFFEE STYLES---------------------------------------------------------------------------------------*/
.today-coffee-main-tittle{
    font-family: 'Pacifico', cursive;
    margin-bottom: 20px;
    font-weight: 400;
}
.today-coffee-img {
	margin: auto;
  width: 150px;
  height: 150px;
}
.coffeeCard:hover {
    filter: brightness(90%);
    border-radius: 10px;
}
.coffeeTittle{
    font-weight: 600;
}
.coffeeTodayPrice{
    color: rgb(136, 136, 136);
    text-decoration: line-through;
    margin-right: 10px;
}
.coffeeOfferPrice{
    color: black;
    font-weight: bold;
}
.offert{
  width: 100px;
}
/*-----------------------------------------------------------BANNER STYLES---------------------------------------------------------------------------------------*/
.banerTittle{
    font-weight: 400;
    color: #ffffff;
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: Lato,sans-serif;
}
/*-----------------------------------------------------------SHOW MORE PRODS STYLES---------------------------------------------------------------------------------------*/
.showProds{
    margin-top: 80px;
    margin-bottom: 130px;
}
.showprodimg{
    border: transparent;
    border-radius: 5px;
}
.showmoreprodtitle{
    font-weight: 400;
    color: #9E0F16;
    font-size: 40px;
    margin-bottom: 30px;
    font-family: Lato,sans-serif;
    text-transform: uppercase;
}
.btn-style2 {
    margin-top: 7px;
    color: #fff;
    padding: 10px 35px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    transition: 0.3s ease-in;
    background: #9E0F16;
    border: transparent;
}
  
.btn-style2:hover {
    color: #fff;
    background: #70080d;
    border: transparent;
}
  
.btn-style2:active {
    background: #70080d;
    border: transparent;
    color: #fff;
}
.arrow{
    width: 15px;
    height: 15px;
}
/*--------------------------------------RESPONSIVE SETTINGS --------------------------------------*/
@media (max-width: 575px){
  .homeTittleSlider{
    font-family: 'Pacifico', cursive;
    font-weight:700;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 250px;
    text-shadow: 2px 2px 2px black;
  }
  .horaryHours{
    margin-bottom: 0px;
    font-weight:700;
    font-size: 22px;
    color: #FA9D33;
  }
  .horaryDays{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight:700;
    font-size: 25px;
    color: black;
    text-transform: uppercase;
  }
}
@media (max-width: 1000px){
  .dividerBar{
    margin-top: 10px;
    display: inline-block;
    height: 130px;
    width: 2px;
    background: rgb(184, 184, 184);

  }
}
