<!-------------------------------------------------------- WELCOME ------------------------------------------------------------------->

<div class="container welcome">
	<div class="row">
		<div class="col text-center">
			<h1 class="welcomeTittle caps">Bienvenido a su cafetería</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-6 text-center welcomeSubtittle mx-auto">
			<blockquote class="">
				<span style="font-size: 2.375rem;">“ </span>La vida es demasiado corta como para no probar nuestro delicioso café. <span style="font-size: 2.375rem;">”</span>
			</blockquote>
		</div>
	</div>
</div>

<!-------------------------------------------------------- TODAY COFFEE ------------------------------------------------------------------->
<section id="TodayCoffe">
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<h2 class="todaycoffeeTittle caps">¡Prueba uno de nuestros cafés del día!</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col">
				<owl-carousel-o [options]="customOptions">
					<ng-container *ngFor="let coffee of coffeesDay">
						<ng-template carouselSlide [id]="coffee.nombre">
							<div class="product-card" (click)="productDetail(coffee.id)">
								<div class="badge">
									<p class="badge-title">SALE</p>
								</div>
								<div class="product-tumb">
									<img [defaultImage]="'../../../assets/img/loading-image.gif'" [lazyLoad]="coffee.img" class="">
								</div>
								<div class="product-details">
									<h3 style="letter-spacing: 1px; ">{{coffee.nombre}}</h3>
									<div class="product-bottom-details">
										<div class="product-price"><small>${{coffee.precioAnterior}}</small>${{coffee.precio}}</div>
									</div>
								</div>
							</div>
						</ng-template>
					</ng-container>
				  </owl-carousel-o>
			</div>
		</div>
	</div>
</section>
<!-------------------------------------------------------- BANNER ------------------------------------------------------------------->
<section id="Banner">
	<div class="banerHomeContainer">
		<div class="container">
			<div class="row">
				<div class="col-6 text-center mx-auto">
					<h2 class="banerTittle">
						El café de tus sueños a un click de distancia
						<br><span style="font-weight:800;">¿Qué estas esperando para probarlo?</span>
					</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!-------------------------------------------------------- SHOW PRODS ------------------------------------------------------------------->
<section id="ShowProds">
	<div class="container showProds">
		<div class="row justify-content-between">
			<div class="col-4">
				<h2 class="showmoreprodtitle">
					No te pierdas la <br><span style="font-weight:800;">oportunidad de probar nuestros cafés</span>
				</h2>
				<p> <img src="../../../assets/img/arrow.svg" class="arrow" alt=""> Los mejores granos de café del pais.</p>
				<p> <img src="../../../assets/img/arrow.svg" class="arrow" alt=""> Amplia variedad de cafés.</p>
				<p> <img src="../../../assets/img/arrow.svg" class="arrow" alt=""> Sabores únicos e inigualables.</p>
				<button type="submit" class="btn-style2 align-self-end" (click)="goTo('products')">Ver Productos</button>
			</div>
			<div class="col-6">
				<img class="img-fluid showprodimg" src="../../../assets/img/showProducts.jpg" alt="">
			</div>
		</div>
	</div>
</section>