<div class="main-banner" id="home">
	<app-menu></app-menu>
	<div class="banner-info">
		<h3>El café es amor, el café es vida</h3>
	</div>
</div>
<!-------------------------------------------------------- WELCOME ------------------------------------------------------------------->

<div class="container welcome">
	<div class="row">
		<div class="col text-center">
			<h2 class="welcomeTittle caps">Bienvenido a su cafetería</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-6 text-center welcomeSubtittle mx-auto">
			<blockquote class="">
				“La vida es demasiado corta como para no probar nuestro delicioso café. ”
			</blockquote>
		</div>
	</div>
</div>

<!-------------------------------------------------------- TODAY COFFEE ------------------------------------------------------------------->
<!-- <section id="TodayCoffe">

</section> -->
<!-------------------------------------------------------- BANNER ------------------------------------------------------------------->
<section id="Banner">
	<div class="banerHomeContainer">
		<div class="container">
			<div class="row">
				<div class="col-6 text-center mx-auto">
					<h2 class="banerTittle">
						El café de tus sueños a un click de distancia
						<br><span style="font-weight:800;">¿Qué estas esperando para probarlo?</span>
					</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!-------------------------------------------------------- SHOW PRODS ------------------------------------------------------------------->
<section id="ShowProds">
	<div class="container showProds">
		<div class="row justify-content-between">
			<div class="col-4">
				<h2 class="showmoreprodtitle">
					No te pierdas la <br><span style="font-weight:800;">oportunidad de probar nuestros cafés</span>
				</h2>
				<p> <img src="../../../assets/img/arrow.svg" class="arrow" alt=""> Los mejores granos de café del pais.</p>
				<p> <img src="../../../assets/img/arrow.svg" class="arrow" alt=""> Amplia variedad de cafés.</p>
				<p> <img src="../../../assets/img/arrow.svg" class="arrow" alt=""> Sabores únicos e inigualables.</p>
				<button type="submit" class="btn-style2 align-self-end" (click)="goTo('products')">Ver Productos</button>
			</div>
			<div class="col-6">
				<img class="img-fluid showprodimg" src="../../../assets/img/showProducts.jpg" alt="">
			</div>
		</div>
	</div>
</section>