html,
body {
	padding: 0px;
	margin: 0;
	margin-left: 0px;
	margin-right: 0px;
  font-size: 100%;
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

body a {
  text-decoration: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  font-family: 'Lato', sans-serif;
}

a:hover {
  text-decoration: none;
}

body::-webkit-scrollbar{
  width: 10px;
  background-color: #1b1d1d;
}

body::-webkit-scrollbar-thumb{
  border-radius: 10px;
  border:2px solid #1b1d1d;
  background-color: #FA9D33;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 700;
  font-family: 'Bebas Neue', cursive;
}

p {
    font-size: 1em;
    line-height: 2em;
    letter-spacing: 1px;
}

ul {
    margin: 0;
    padding: 0;
}

body img {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
}

/* header */

/* CSS Document */

.logoText{
  font-size: 35px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}


header {
  position: absolute;
  z-index: 9;
  width: 100%;
}

.toggle,
[id^=drop] {
  display: none;
}

/* Giving a background-color to the nav container. */

nav {
  margin: 0;
  padding: 0;
}

#logo img {
  position: absolute;
  top: 5;
  left: 5;
  width: 120px;
}

#logo span {
  position: absolute;
  top: 5;
  left: 5;
}

/* Since we'll have the "ul li" "float:left"
* we need to add a clear after the container. */

nav:after {
  content: "";
  display: table;
  clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
* and adding "position:reltive" */

nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

/* Positioning the navigation items inline */

nav ul li {
  margin: 0px 1em;
  display: inline-block;
}

/* Styling the links */

.menu li a {
  font-weight: 600;
  font-size: 0.9em;
  letter-spacing: 2px;
  padding-left: 0;
  padding-right: 0;
  padding: 10px 0;
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s all ease;
}


.menu li ul li a {
  color: #555;
  padding: 10px 10px;
  font-size: 0.8em;
}


.menu li ul li:hover {
  background: #f8f9fa;
}

/* Background color change on Hover */

nav .menu li a:hover {
  color: #FA9D33;
}

.menu li.active a {
  color: #FA9D33;
}

.active{
color: #FA9D33 !important;
}

/* Hide Dropdowns by Default
* and giving it a position of absolute */

nav ul ul {
  display: none;
  position: absolute;
  /* has to be the same number as the "line-height" of "nav a" */
  top: 30px;
  background: #fff;
  padding: 10px;
}

/* Display Dropdowns on Hover */

nav ul li:hover > ul {
  display: inherit;
}

/* Fisrt Tier Dropdown */

nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
  margin: 0;
}

nav ul ul li a {
  color: #333;
  padding: 5px 10px;
  display: block;
}

/* Second, Third and more Tiers
* We move the 2nd and 3rd etc tier dropdowns to the left
* by the amount of the width of the first tier.
*/

nav ul ul ul li {
  position: relative;
  top: -60px;
  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 170px;
}


/* Change ' +' in order to change the Dropdown symbol */

li > a:only-child:after {
  content: '';
}

.menu fa-icon{
font-size: 20px;
}

.mobile-right{
margin-top: 130px;
}

.mobile-right-grids{
padding-bottom: 50px;
}

.mobile-right-icon {
text-align: center;
}

.mobile-right-icon span.fa {
font-size: 30px;
color: #FA9D33;
}

.mobile-right-info h6 a {
font-size: 22px;
line-height: 28px;
font-weight: 600;
color: #1e272e !important;
margin-bottom: 10px;
display: inline-block;
}

.mobile-right-info h6 a:hover {
color: #1e272e !important;
}


/* Media Queries
--------------------------------------------- */

@media all and (max-width: 768px) {
  /* #logo {
      display: block;
      padding: 0;
      width: 100%;
      text-align: center;
      float: none;
  } */

  nav {
      margin: 0;
  }

  nav a {
      color: #333;
  }

  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle + a,
  .menu {
      display: none;
  }

  /* Stylinf the toggle lable */
  .toggle {
      display: block;
      padding: 6px 15px;
      font-size: 16px;
      text-decoration: none;
      border: none;
      float: right;
      margin-right: 0em;
      background-color: #fff;
      color: #1b1d1d;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer !important;
  }

  .menu .toggle {
      float: none;
      text-align: center;
      margin: auto;
      width: 30%;
      padding: 5px;
      font-weight: normal;
      font-size: 15px;
      letter-spacing: 1px;
  }

  .toggle:hover {
      color: #333;
      background-color: #fff;
  }

  /* Display Dropdown when clicked on Parent Lable */
  [id^=drop]:checked + ul {
      display: block;
      background: rgba(25, 25, 25, 0.85);
      padding: 15px 0;
      text-align: center;
      width: 100%;
      margin: 0 auto;
  }

  /* Change menu item's width to 100% */
  nav ul li {
      display: block;
      width: 100%;
      padding: 5px 0;
  }

  nav ul ul .toggle,
  nav ul ul a {
      padding: 0 40px;
  }

  nav ul.menu li a {
      color: #fff;
  }

  nav a:hover,
  nav ul ul ul a {
      background-color: transparent;
  }

  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
      padding: 14px 20px;
      color: #312f2f;
      font-size: 15px;
  }


  nav ul li ul li .toggle {
      background-color: #fff;
  }

  nav ul ul li a {
      font-size: 15px;
  }

  /* Hide Dropdowns by Default */
  nav ul ul {
      float: none;
      position: static;
      color: #ffffff;
      /* has to be the same number as the "line-height" of "nav a" */
  }

  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
      display: none;
  }

  /* Fisrt Tier Dropdown */
  nav ul ul li {
      display: block;
      width: 100%;
      padding: 0;
  }

  nav ul li {
      margin: 0;
  }

  nav ul ul ul li {
      position: static;
      /* has to be the same number as the "width" of "nav ul ul li" */
  }

  .login-icon {
      text-align: right;
  }

  .login-icon span {
      margin-right: 1em;
  }

  nav ul ul {
      background: rgba(25, 25, 25, 0.85) !important;

  }

  .menu li ul li:hover {
      background: none;
  }
}

@media all and (max-width:480px) {

  nav ul li {
      display: block;
      width: 94%;
  }

  .menu .toggle {
      width: 70%;
  }
}

/* header */

/*--/banner --*/

.main-banner {
  background: url(../img/banner.jpg)no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  position: relative;
  /* min-height: 50em; */
  height: 100vh;
}

.main-banner.inner {
  background: url(../img/banner.jpg)no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  position: relative;
  height: 28em;
}

/*-- place holder --*/

.banner-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ccc;
}

.banner-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
}

.banner-form :-ms-input-placeholder {
  /* IE 10+ */
  color: #ccc;
}

.banner-form :-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
}

.banner-info {
  padding: 16em 0 0em 3em;
  width: 53%;
}

.banner-info h3 {
  font-size: 6.4em;
  letter-spacing: 4px;
  color: #fff;
  text-transform: uppercase;
}

.banner-info p {
  color: #FA9D33;
  font-size: 1em;
  letter-spacing: 4px;
  font-weight: 400;
}

.ban-buttons a {
  background: #fff;
  padding: 11px 31px;
  font-size: 13px;
  letter-spacing: 1px;
  color: #6f50f6;
  border-radius: 4px;
  display: inline-block;
  box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
  -o-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
  -ms-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
  border: 2px solid transparent;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  font-weight: 600;
  text-transform: uppercase;
}

.ban-buttons a.active,
.ban-buttons a:hover {
  opacity: 0.8;

}

a.btn.active {
  background: none;
  color: #fff;
  border: 2px solid #ddd;
}

.breadcrumb{
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.breadcrumb, ol {
    margin-bottom: 0 !important;
}

.breadcrumb-item a{
  color: #292a2b;
}

/*-- //place holder --*/

/*-- //banner --*/

.aboutMissionVision {
  padding: 0;
  background: url("../img/about-mission-vision.jpg");
  z-index: 2;
  top: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
  width: 100%;
}
.errorContainer{
  padding: 0;
  background: url("../img/bg1.jpg");
  z-index: 2;
  top: 0;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 750px;
}
.banerHomeContainer{
  background: url("../img/bannerHome.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
  width: 100%;
  padding: 60px 20px 60px 20px;
  height: 450px;
}
.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #fa9d33 !important;
  color: #fefefe;
  cursor: default;
}
