/*-----------------------------------------------------------PRODUCT STYLES------------------------------------------------------------------------------------*/
.productContainer{
  min-height: 500px;
  margin-bottom: 90px;
}
.productImg{
  height: 260px;
}
.mainRowProduct{
  margin-top: 60px;
}
.productTitle{
  font-weight: 700;
  font-size: 60px;
  color: #454546;
  margin-bottom: 20px;
}
.productPrice{
  font-weight: 500;
  font-size: 38px;
  color:#353535;
}
.coffeeTodayPrice{
  font-weight: 500;
  font-size: 38px;
  color: rgb(136, 136, 136);
  text-decoration: line-through;
  margin-right: 20px;
}
.priceRow{
  margin-bottom: 30px;
}
.offert{
	display: inline-block;
	color: #fff;
	padding: 5px 10px;
	border-radius: 50px;
	font-size: .9em;
  background-color: #FA9D33;
  margin-bottom: 5px;
}
.productDescription{
  font-weight: 400;
  font-size: 23px;
  margin-bottom: 25px;
}
.borderImg{
  border: 1px solid #bfc8ca;
  border-radius: 8px;
}
.btnProduct{
  background-color: transparent;
  padding: 5px 15px;
  border: 2.5px solid black;
  border-radius: 4px;
}
.btnProduct:hover{
  background-color: #343A40;
  color: #ffffff;
  border: 2.5px solid transparent;
  border-radius: 4px;
}
.btnProduct:focus{
  outline: none;
}
.inputCantProduct{
  margin-left: 2px;
  width: 45px;
  height: 38px;
  border: 2px solid;
  border-radius: 4px;
}
.btnAddCart{
  margin-left: 10px;
  width: 317px;
}
.btnRemoveCart{
  width: 376px;
}
.btnKeepBuying{
  margin-top: 20px;
  margin-bottom: 40px;
}
.productAddText{
  font-size: 18px;
  font-weight: 600;
}
.productAddIcon{
  background: #63ffe0;
  color: #000000;
  font-size: 20px;
  padding: 5px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
}
.productAddCheck{
  margin-bottom: 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 400px;
  width: 400px; */
  padding: 50px;
  /* background: #f0f0f0; */
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
  height: 250px;
}

.button {
  cursor: pointer;
	width: fit-content;
	height: fit-content;
	margin-top: 10px;
}

.button a {
	display: inline-block;
	overflow: hidden;
	position: relative;
	font-size: 20px;
	color: #111;
	text-decoration: none;
	padding: 10px 15px;
	border: 1px solid #aaa;
	font-weight: bold;
  border-radius: 50px;
}

.button a:after{
	content: "";
	position: absolute;
	top: 0;
	right: -10px;
	width: 0%;
	background: #111;
	height: 100%;
	z-index: -1;
	transition: width 0.3s ease-in-out;
	transform: skew(-25deg);
	transform-origin: right;
}

.button a:hover:after {
	width: 150%;
	left: -10px;
	transform-origin: left;
	
}

.button a:hover {
	color: #fff;
	transition: all 0.5s ease;
}

.content {
	animation-delay: 0.3s;
	position: absolute;
	z-index: 3
}

.product-bottom-details{
  margin-bottom: 15px;
}

.product-price {
  font-size: 30px;
  color: #fa9d33;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 5px;
}

.btnm{
  margin-right: 40px;
}

.selectT{
  margin-top: 7px !important;
  margin-right: 40px !important;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  margin-right: 15px;
  border-radius: 50px;
  border: 1px solid #aaa;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  max-width: 5rem;
  padding: .5rem;
  border: solid #aaa;
  border-width: 0 1px;
  font-size: 1.5rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
}

.number-input input[type=number]:focus, .number-input input[type=number]:active {
  border: solid #aaa;
  border-width: 0 1px;
  outline: none;
}


/*--------------------------------------RESPONSIVE SETTINGS --------------------------------------*/
@media (max-width: 1200px){
  .btnAddCart{
    margin-left: 10px;
    width: 610px;
  }
  .btnRemoveCart{
    width: 670px;
  }
}
@media (max-width: 992px){
  .btnAddCart{
    margin-left: 10px;
    width: 430px;
  }
  .btnRemoveCart{
    width: 485px;
  }
}
@media (max-width: 770px){
  .btnAddCart{
    margin-left: 10px;
    width: 295px;
  }
  .btnRemoveCart{
    width: 350px;
  }
}
@media (max-width: 574px){
  .btnKeepBuying{
    margin-top: 20px;
    margin-bottom: 40px;
    width: 350px;
  }
}
@media (max-width: 415px){
  .btnKeepBuying{
    margin-top: 20px;
    margin-bottom: 40px;
    width: 270px;
  }
  .btnAddCart{
    margin-left: 10px;
    width: 215px;
  }
  .btnRemoveCart{
    width: 270px;
  }
}
@media (max-width: 330px){
  .btnKeepBuying{
    margin-top: 20px;
    margin-bottom: 40px;
    width: 240px;
  }
  .btnAddCart{
    margin-left: 10px;
    width: 180px;
  }
  .btnRemoveCart{
    width: 240px;
  }
}
@media (max-width: 400px){
  .productImg{
    height: 200px;
  }
}
