
/*--/footer--*/
a{
    text-decoration: none;
}

footer {
    background: #17181b;
}

h3.footer-title {
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

h2.logo-2 a {
    font-weight: 700;
    font-size: 34px;
    color: #fff;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    letter-spacing: 1px;
}

h2.logo-2 a:hover {
    color: #FA9D33 !important;
}

.list-unstyled a:hover{
    color: #FA9D33 !important;
}

/* social icons */
.w3layouts_social_list li {
    display: inline-block;
}

.w3layouts_social_list li a {
    width: 34px;
    height: 34px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    border-radius: 50%;
}

.w3layouts_social_list li a span {
    color: #fff;
    line-height: 34px;
}

a.w3pvt_facebook {
    background: #3b5998;
}

a.w3pvt_twitter {
    background: #1da1f2;
}

a.w3pvt_dribble {
    background: rgb(240, 63, 87);
}

a.w3pvt_google {
    background: #5e7ab4;
}

a.w3pvt_facebook fa-icon, a.w3pvt_twitter fa-icon, a.w3pvt_dribble fa-icon, a.w3pvt_google fa-icon{
    color: #fff;
}


/* //social-icons */

/* contact address */
.contact-info h4,
h4.sub-con-fo {
    font-size: 0.9em;
    letter-spacing: 1px;
    color: #edf0f3;
    font-weight: 400;
    text-transform: uppercase;
}

.mailInfo, .mailInfo:hover, .mailInfo:active{
  color: #FA9D33;
}

.footer-text p,
.footer-grid_section_w3layouts p,
.footer-grid_section_w3layouts li a {
    color: #727377;
    font-size: 15px;
    letter-spacing: 1px;
}

.footer-grid_section_w3layouts li a:hover {
    opacity: 0.8;
}

.footer-title h3 {
    font-size: 24px;
    color: #f3f3f3;
    letter-spacing: 1px;
}

ul.w3layouts-icons li a {
    text-transform: uppercase;
}

/* //contact address */
/* copyright */
.cpy-right-sec-w3ls {
    background: #1c1d21;
}

.cpy-right p {
    letter-spacing: 2px;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0.9em;
}

.cpy-right p {
    color: #eee;
}

.cpy-right p:hover {
    color: #FA9D33;
}

/* //copyright */

/*--//footer--*/


@media(max-width:991px) {
    .footer-grid_section_w3layouts {
        margin: 2em 0;
    }
}

@media(max-width:767px) {
    .footer-grid_section_w3layouts {
        margin: 1em 0;
    }

}

@media(max-width:640px) {
    .cpy-right p,
    .cpy-right a {
        line-height: 1.7em;
        margin-top: 1em;
    }
}