<!-------------------------------------------------------- START MENU ------------------------------------------------------------------->
<section id="Menu" >
	<header class="main-header">
       <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-3 d-none d-sm-block">
                </div>
                <div class="col-xl-6 col-12 text-center">
                  <div class="container">
                    <div class="row justify-content-center">
                        <div class="col logoText">
                            <a class="navbar-brand" [routerLink]="['/home']" (click)="closeCart()">Coffe&Cream</a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <nav class="navbar navbar-expand-xl navbar-light bg-lignt">
                          <div class="col">
                            <button class="navbar-toggler custom-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                              </button>
                          </div>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav text-center">
                                <li class="nav-item active">
                                    <a class="nav-link menuText" [routerLink]="['/home']" (click)="closeCart()" [routerLinkActive]="['actived']">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menuText" [routerLink]="['/about']" (click)="closeCart()" [routerLinkActive]="['actived']">Nosotros</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menuText" [routerLink]="['/products']" (click)="closeCart()" [routerLinkActive]="['actived']">Productos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menuText" [routerLink]="['/contact']" (click)="closeCart()" [routerLinkActive]="['actived']">Contacto</a>
                                </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-12 top-info-cart mt-xl-4">
                    <ul class="cart-inner-info text-center">
                        <li>
                            <button class="userButton userText" (click)="acount()"><fa-icon [icon]="faUser"></fa-icon> Mi Cuenta</button>
                        </li>
                        <li>
                            <span type="button" (click)="cart()"><fa-icon [icon]="faCartArrowDown"></fa-icon></span>
                        </li>
                    </ul>
                    <ng-container *ngIf="showCart" >
                        <div class="popoverCart popoverCartFix">
                            <div class="container">
                                <div class="row">
                                  <div class="col-1 offset-11">
                                    <span type="button" ><fa-icon class="popoverClose btnbuy" [icon]="faTimes" (click)="closeCart()"></fa-icon></span>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-12" *ngIf="carritoVacio">
                                      <p class="text-danger cartEmpty text-center">Su carrito de compra esta vacio</p>
                                    </div>
                                </div>
                                <div class="row" *ngIf="carritoLleno">
                                    <div class="col-12">
                                        <ul class="cartProducts">
                                          <div class="productList">
                                            <li class="cart-item text-left" *ngFor="let pcart of carrito">
                                              <div class="container-fluid con">
                                                <div class="row">
                                                  <div class="col-6 col-sm-7">
                                                    <span class="cartProdName">{{pcart.data.productName}}</span>
                                                  </div>
                                                  <div class="col-1 mr-1">
                                                    <!-- <input type="number" class="cartCantProd text-center" [value]="pcart.data.productCant"> -->
                                                    <span class="cartCant">{{pcart.data.productCant}}</span>
                                                  </div>
                                                  <div class="col-1">
                                                    <fa-icon type="button" class="cartRemoveProd" [icon]="faMinusSquare" (click)="removerItemCarrito(pcart.id)"></fa-icon>
                                                  </div>
                                                  <div class="col-1">
                                                    <span class="cartPrecio">${{pcart.data.productPrice}}</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </li>
                                          </div>
                                        </ul>
                                    </div>
                                    <div class="col-12">
                                      <div class="row subtotalBuyText">
                                        <div class="col-8 text-left Subtotal"><span>Subtotal: {{total() | currency}}</span></div>
                                        <div class="col-4"><span type="button" (click)="comprar()" class="btnbuy text-danger font-weight-bold">COMPRAR</span></div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
</header>
</section>
<router-outlet></router-outlet>
<!-------------------------------------------------------- START FOOTER ------------------------------------------------------------------->
<section id="Contacto" class="contacto">
    <div class="container">
	    <div class="row">
            <div class="col-sm-12 col-md-6 col-xl-3">
                <h3 class="contacto_tittle">Teléfono</h3>
			        	<p class="contacto_text">+54 999-999-999</p>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-3">
                <h3 class="contacto_tittle">Email</h3>
				        <p class="contacto_text" >info@coffeeandcream.com</p>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-3">
                <h3 class="contacto_tittle">Dirección</h3>
				        <p class="contacto_text"><a rel ="noreferrer" href="https://cutt.ly/2fRr5lq" target="_blank" class="direccion">San Martin 1024 - Mendoza, Argentina</a></p>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-3">
                <h3 class="contacto_tittle">Siguenos en</h3>
                <a class="socialIcon" href="https://www.facebook.com/"><fa-icon [icon]="faFacebookF" class="socialMediaIcons"></fa-icon></a>
                <a class="socialIcon" href="https://www.instagram.com/"><fa-icon [icon]="faInstagram" class="socialMediaIcons"></fa-icon></a>
                <a class="socialIcon" href="http://twitter.com/"><fa-icon [icon]="faTwitter" class="socialMediaIcons"></fa-icon></a>
            </div>
        </div>
    </div>
</section>
<footer class="main-footer">
		<div class="container-fluid ">
			<div class="footer row justify-content-between">
			     <div class="col col-md-4 d-none d-md-block">
					 <h2 class="tittle-footer">Made by Facundo Araujo</h2>
				 </div>
			     <div class="col col-md-4 d-none d-md-block">
					 <h2 class="tittle-footer text-right">Cofee&Cream&copy; - 2020</h2>
				 </div>
			</div>
			<div class="footer row">
			     <div class="col-12 d-block d-md-none">
					 <h2 class="tittle-footer text-center">Made by Facundo Araujo</h2>
				 </div>
			     <div class="col-12 d-block d-md-none">
					 <h2 class="tittle-footer text-center">Cofee&Cream&copy; - 2020</h2>
				 </div>
			</div>
		</div>
</footer>
