<!-------------------------------------------------------- START STEP 1 ------------------------------------------------------------------->
<div class="container cartContainer" *ngIf="step === 1">
  <form [formGroup]="newOrderForm" (ngSubmit)="newOrder(newOrderForm.value)">
  <div class="row align-items-center">
    <div class="col-1">
      <p class="circle">2</p>
    </div>
    <div class="col-md-6 col-9 ml-4 ml-md-1">
      <h3 class="firstTittle">Detalles de facturación</h3>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-10">
        <div class="form-group">
          <label for="nombre">Nombre y apellido</label>
          <input type="text" class="form-control" placeholder="Nombre y apellido" name="nombreyapellido" id="nombreyapellido" formControlName="clientName" required>
        </div>
        <div class="form-group">
          <label for="direccion">Dirección</label>
          <input type="text" class="form-control" placeholder="Número de la casa y nombre de la calle" name="direccion" id="direccion" formControlName="clientDirection" required>
        </div>
        <div class="form-group">
          <label for="localidad">Localidad</label>
          <input type="text" class="form-control" placeholder="Localidad" name="localidad" id="localidad" formControlName="clientLocalidad" required>
        </div>

        <div class="form-group">
          <label for="provincia">Provincia</label>
          <select name="provincia" id="provincia" class="form-control" formControlName="clientProvincia" required>
            <option value="Mendoza">Mendoza</option>
          </select>
        </div>

        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input type="text" class="form-control" placeholder="Número de telefono" name="telefono" id="telefono" formControlName="clientTelefono" required>
        </div>

        <div class="form-group">
          <label for="formaDePago">Forma de pago</label>
          <select name="formaDePago" id="formaDePago" class="form-control" formControlName="clientFormaPago" required>
            <option value="Efectivo">Efectivo</option>
            <option value="Tarjeta" disabled>Tarjeta</option>
          </select>
        </div>
    </div>
  </div>
  <div class="row nextSection">
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <button class="btn btn-dark btn-block btnReponsive" (click)="backSection1()"><fa-icon class="arrowIconLeft" [icon]="faAngleLeft"></fa-icon> Volver</button>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <button class="btn btn-dark btn-block btnReponsive" type="submit" [disabled]="newOrderForm.invalid">Finalizar Compra <fa-icon class="arrowIconRigth" [icon]="faAngleRight"></fa-icon></button>
    </div>
  </div>
  </form>
</div>
<!-------------------------------------------------------- START STEP 2 ------------------------------------------------------------------->
<div class="container cartContainer" *ngIf="step === 2">
  <div class="row align-items-center">
    <div class="col-1">
      <p class="circle">3</p>
    </div>
    <div class="col-md-6 col-9 ml-4 ml-md-1">
      <h3 class="firstTittle">Gracias por su compra</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="confirmTittle text-center"><fa-icon class="confirmIcon" [icon]="faCheck"></fa-icon> Su pedido se a efectuado satisfactoriamente</h2>
      <p class="confirmSubtittle text-center">Sus productos se enviaran a la direcciòn especificada, le contactaremos a la brevedad.</p>
    </div>
  </div>
  <div class="row nextSection" >
    <div class="col-10 offset-1">
      <button class="btn btn-dark btn-block" [routerLink]="['/home']">Ir al inicio</button>
    </div>
  </div>
</div>
