<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a [routerLink]="['/home']">Home</a>
	</li>
	<li class="breadcrumb-item active">Checkout</li>
</ol>
<section class="pb-md-5 pb-4 pt-md-3 pt-2 checkout-section">
  <div class="container checkout-container pb-md-5 pb-4 pt-md-3 pt-2">
    <ng-container *ngIf="step === 1">
      <div class="container products-container">
        <div style="margin-bottom: 20px;">
          <h3 class="resumen-title">Carrito</h3>
          <mat-divider class="mat-divider"></mat-divider>
        </div>
        <div class="item" *ngFor="let item of carrito">
          <div class="first-item-row">
            <div class="img-item-row">
              <img class="item-image" src="{{item.producto.img}}" alt="">
              <span class="item-name">{{item.producto.nombre}}</span>
            </div>
            <fa-icon class="delete-icon" (click)="removerProductoCarrito(item.producto)" [icon]="faTrash"></fa-icon>
          </div>
          <div class="second-item-row">
            <div class="number-input">
              <button class="number-remove-btn" (click)="removerItemCarrito(item.producto)" >
                <fa-icon [icon]="faMinus"></fa-icon>
              </button>
              <div class="horizontal-divider"></div>
              <div class="input-value">
                <span>{{item.cantidad}}</span>
              </div>
              <div class="horizontal-divider"></div>
              <button class="number-add-btn plus" (click)="agregarItemCarrito(item.producto)" >
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>
            </div>
            <span class="item-total">{{(item.producto.precio * item.cantidad) | currency}}</span>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="step === 2">
      <div class="container products-container">
        <mat-stepper orientation="vertical" [linear]="true" #stepper style="background: transparent;">
          <mat-step [stepControl]="stepOneForm">
            <ng-template matStepLabel>Datos de Facturación</ng-template>
            <ng-template matStepContent>
              <form [formGroup]="stepOneForm" style="width: 100%; margin-bottom: 10px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" required>
                    <mat-error *ngIf="stepOneForm.get('nombre')?.hasError('required')">El nombre es obligatorio</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required readonly>
                    <mat-error *ngIf="stepOneForm.get('email')?.hasError('required')">El email es obligatorio</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Telefono</mat-label>
                    <input matInput formControlName="tel" required>
                    <mat-error *ngIf="stepOneForm.get('tel')?.hasError('required')">El telefono es obligatorio</mat-error>
                </mat-form-field>
              </form>
              <div style="display: flex; align-items: center; justify-content: flex-start;">
                <button class="basic-cart-btn" matStepperNext [disabled]="stepOneForm.invalid">Siguiente</button>
                <div class="basic-cart-btn" style="visibility: hidden;"></div>
              </div>
            </ng-template>
          </mat-step>
          <mat-step [stepControl]="stepTwoForm1">
            <ng-template matStepLabel>Método de entrega</ng-template>
            <ng-template matStepContent>
              <div [formGroup]="stepTwoForm1" style="width: 100%; margin-bottom: 10px;">
                <form [formGroup]="stepTwoForm1">
                  <mat-form-field appearance="outline"  style="width: 100%;">
                    <mat-label>Seleccione un método de entrega</mat-label>
                    <mat-select formControlName="metodoEntrega" required (selectionChange)="checkMetodoDeEntrega($event.value)">
                      <mat-option *ngFor="let option of metodoEntregaOpciones" [value]="option.value" >
                        {{option.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </form>
                <form [formGroup]="stepTwoForm2">

                  <ng-container *ngIf="esEnvioDomicilio">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Dirección</mat-label>
                        <input matInput formControlName="direccion" required>
                        <mat-error *ngIf="stepTwoForm2.get('direccion')?.hasError('required')">La direccion es obligatoria</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Código postal</mat-label>
                        <input type="number" matInput formControlName="codigoPostal" required>
                        <mat-error *ngIf="stepTwoForm2.get('codigoPostal')?.hasError('required')">El código postal es obligatorio</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Provincia</mat-label>
                        <input matInput formControlName="provincia" required>
                        <mat-error *ngIf="stepTwoForm2.get('provincia')?.hasError('required')">La Provincia es obligatoria</mat-error>
                    </mat-form-field>
                  </ng-container>
                </form>

              </div>
              <div style="display: flex; align-items: center;">
                <button class="basic-cart-btn" style="margin-right: 10px;" matStepperPrevious>Anterior</button>
                <button class="basic-cart-btn" matStepperNext [disabled]="
                    stepTwoForm1.invalid || (esEnvioDomicilio === true && stepTwoForm2.invalid)
                ">Siguiente</button>
              </div>
            </ng-template>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Método de pago</ng-template>
            <form [formGroup]="stepThreeForm" style="width: 100%; margin-bottom: 10px;">
              <mat-form-field  appearance="outline" style="width: 100%;">
                <mat-label>Seleccione un método de pago</mat-label>
                <mat-select formControlName="formaPago" required>
                  <mat-option *ngFor="let option of metodoPagoOpciones" [value]="option.value" [disabled]="option.disabled">
                    {{option.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </form>
            <div style="display: flex; align-items: center;">
              <button class="basic-cart-btn" style="margin-right: 10px;" matStepperPrevious>Anterior</button>
              <button id="button" class="basic-cart-btn" [ngStyle]="{cursor: loading ? 'default' : 'pointer'}" [disabled]="stepThreeForm.invalid" (click)="newOrder()">
                Pagar
              </button>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
    </ng-container>
    <div class="container total-container">
      <div class="go-back-btn-row" (click)="step = 1" *ngIf="step === 2">
        <fa-icon style="margin-right: 8px;" [icon]="faChevronLeft"></fa-icon>
        <span>Volver al carrito</span>
      </div>
      <h3 class="resumen-title">Resumen</h3>
      <mat-divider class="mat-divider"></mat-divider>
      <div class="subtotal-row">
        <span class="subtotal-text">Subtotal</span>
        <span class="subtotal-text">{{subtotal() | currency}}</span>
      </div>
      <div class="envio-row">
        <span class="envio-text">Costo del envio</span>
        <span class="envio-text">Gratis</span>
      </div>
      <mat-divider class="mat-divider"></mat-divider>
      <div class="total-row">
        <span class="total-text">Total</span>
        <span class="total-text">{{subtotal() | currency}}</span>
      </div>
      <div class="continue-btn-row mt-4">
        <button class="basic-cart-btn" (click)="step = 2" *ngIf="step === 1">Continuar con la compra</button>
      </div>
    </div>
  </div>
</section>  
